# Default ignored files
/../../../2.3.1./Spring_CRUD/.idea/shelf/
/../../../2.3.1./Spring_CRUD/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\tolerant\IdeaProjects\2.3.1.\Spring_CRUD\.idea/dataSources/
/../../../2.3.1./Spring_CRUD/.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../../2.3.1./Spring_CRUD/.idea/httpRequests/
